# Ignore temporary files
*~
**Thumbs.db

# Ignore user preferences
*.suo
**.user

# Ignore builds
Communication/bin/**
Communication/obj/**
Infrastructure/bin/**
Infrastructure/obj/**
ShareTabWin/bin/**
ShareTabWin/obj/**
