# Ignore temporary files
**~
**swp
**/Thumbs.db

# Ignore user preferences
*.suo
**.user

# Ignore builds
AvalonDock/bin/**
AvalonDock/obj/**
Communication/bin/**
Communication/obj/**
Infrastructure/bin/**
Infrastructure/obj/**
ShareTabWin/bin/**
ShareTabWin/obj/**
